
pre {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}
figure {
    display: inline-block;
    margin: 5px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
} 
.separatedItem + .separatedItem:before {
    content: " | "
}

.container.container--outer {
    max-width: 1280px !important;
}

.clear
{
	clear:both;
}

img[src$='#floatleft'], .floatleft
{
	clear:left;
	float:left;
        //etc. etc/
}

img[src$='#fl1']
{
	max-width:10%;
	float:left;
}

img[src$='#fl2']
{
	max-width:20%;
	float:left;
}

img[src$='#fl3']
{
	max-width:30%;
	float:left;
}

img[src$='#fl4']
{
	max-width:40%;
	float:left;
}

img[src$='#fl5']
{
	max-width:50%;
	float:left;
}

img[src$='#floatright'], .floatright
{
	clear:right;
	float:right;
       //etc. etc.
}

img[src$='#fr1']
{
	max-width:10%;
	float:right;
}

img[src$='#fr2']
{
	max-width:20%;
	float:right;
}

img[src$='#fr3']
{
	max-width:30%;
	float:right;
}

img[src$='#fr4']
{
	max-width:40%;
	float:right;
}

img[src$='#fr5']
{
	max-width:50%;
	float:right;
}

