{{ $structure := .Site.Data.structure }}
{{ $book := .Get 0 }}
{{ $part := .Get 1 }}
{{ $targetBook := index $structure.books $book }}
{{ if $part }}
  {{ $targetPart := index $targetBook.parts $part }}
  {{ if $targetPart.chapters }}
    <ul>
      {{ range sort $targetPart.chapters "weight" }}
        {{ $fileBase := replace .file ".md" "" }}
        {{ $page := .Site.GetPage (printf "/%s/%s/%s" $book $part $fileBase) }}
        {{ $title := $page.Title | default $fileBase }}
        <li><a href="{{ $book | lower }}/{{ $part | lower }}/{{ $fileBase | urlize }}">{{ $title }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
{{ else }}
  <ul>
    {{ range $partKey, $partData := $targetBook.parts }}
      <li>{{ replace $partKey "-" " " }}</li>
      <ul>
        {{ range sort $partData.chapters "weight" }}
          {{ $fileBase := replace .file ".md" "" }}
          {{ $page := .Site.GetPage (printf "/%s/%s/%s" $book $partKey $fileBase) }}
          {{ $title := $page.Title | default $fileBase }}
          <li><a href="{{ $book | lower }}/{{ $partKey | lower }}/{{ $fileBase | urlize }}">{{ $title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </ul>
{{ end }}
